.header-container {
  position: relative;
  margin: 0;
}

.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.logo {
  color: #6b1587;
  font-family: Roboto;
  font-style: bold;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: inline-block;
  width: 50px;
  height: 53px;
  margin-right: 10px;
}

.header-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-item {
  list-style: none;
  font-size: 21px;
  font-weight: 500;
}

.header-line {
  width: 85%;
  margin: auto;
  border: 1px solid #a3a3a3;
  position: absolute;
  left: 9.8%;
  top: 100%;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 24px;
    line-height: 30px;
  }

  .header-item {
    list-style: none;
    font-size: 12px;
    font-weight: 500;
  }

  .logo img {
    width: 40px;
    height: 43px;
  }

  .header-line {
    width: 74%;
    left: 18%;
    top: 100%;
  }
}
