@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.secondary-header {
  background: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.btn {
  background: #6b1587;
  color: #ffffff;
  border: 2px solid #6b1587;
  font-size: 18px;
  padding: 10px;
  font-weight: 700;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 756px) {
  .btn {
    font-size: 14px;
    padding: 7px;
  }
}
